.calculator {
  position: absolute;
  top: $page-header-y;
  right: 24em;
  top: 13em;
  z-index: 101;
  line-height: 1.6em;
  @include debug();
  @include containter();
}

.calculator:after {
  left: 100%;
  top: 57%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #fff;
  border-width: 13px;
  margin-top: -13px;
}

.calculator__title {
  @include section_header;
}

.calculator__container{
  padding: 0.5rem 2rem 1rem 2rem;
}

.calculator__subtitle {
  font-size: 0.8em;
  float: initial;
  clear: both;
}

.calculator__widget-container {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}

.calculator__widget-name {
  font-size: 0.85em;
  clear: both;
  float: left;
}

.calculator__radio {
  font-size: 0.85em;
  font-weight: 600;
  float: right;
  margin-right: 0.75em;
  .inline{
    display: inline-block;
  }
  .inline + .inline {
    margin-left: 30px;
  }
  .radio {
    color:#aaa;
    font-size: 0.85em;
    position: relative;
  }
  .radio span {
    position: relative;
    padding-left: 20px;
  }
  .radio span:after {
    content:'';
    width: 15px;
    height: 15px;
    border: 3px solid;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 100%;
    box-sizing:border-box;
  }
  .radio input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  .radio input[type="radio"]:checked + span {
    color: #000;
  }
  .radio input[type="radio"]:checked + span:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: #000;
    left: 5px;
    top: 6px;
    border-radius: 100%;
  }
}

.calculator__slider {
  width: 100%;
  float: left;
  display: block;
  margin: 7px 10px 1rem 0;
}

.noUi-horizontal {
  height: 1px;
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 18px;
  left: -5px;
  top: -10px;
}

.noUi-pips-horizontal {
  height: auto;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}

.noUi-value-large {
  font-size: 0.75rem;
  margin-top: 0;
  padding-top: 0;
  line-height: 16px;
  margin-top: 6px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 12px;
}
.noUi-marker-horizontal.noUi-marker {
  top: 8px;
  height: 14px;
}

.noUi-pips-horizontal {
  margin-top: -15px;
}

.noUi-handle {
  cursor: pointer;
  border: 1px solid #555;
  box-shadow: 0 3px 6px -3px #888;
}

.calculator__description {
  width: 90%;
  margin: 1em auto 1.5em auto;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.5em;
  &.top {

  }
  &.bottom {
    margin-top: 3em;
  }
}

.calculator__divider {
  background-color: lighten($secondary-color, 15);
  height: 2px;
  left:0;
  margin: 0 -1em 1em -1em;
}

.calculator__divider-broken {
  border: 0;
  height: 2px;
  width: 33%;
  background-color: lighten($secondary-color, 15);
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.calculator__divider-broken-label {
  float: left;
  width: calc(34%);
  font-size: .9em;
  color: #aaa;
  line-height: 0.1em;
  text-align: center;
}


.modal__left-side{
  float: left;
  max-width: 400px;
  padding-right: 1rem;
  position: relative;
  border-right: solid #ddd 1px;
  padding-right: 2rem;
  @media screen and (max-width: 1010px) {
    max-width: initial;
    min-width: 650px;
    padding-right: 0;
    border-right: 0;
    float: none;
  }
}

.modal__right-side{
  float: right;
  min-width: 520px;
  padding-left: 1.5rem;
  @media screen and (max-width: 1010px) {
    min-width: 650px;
    padding-left: 0;
    float: none;
    padding-top: 1rem;
    margin-top: 2.5rem;
    border-top: 1px solid #ddd;
  }
}

.calc__subtitle{
  font-size:1em;
  float: initial;
  clear: both;
  margin-bottom: 0.25rem;
}

.calc__selection{
  clear: both;
  dt{
    margin-bottom: 0.5rem;
  }
  .stat__attribute{
    font-size: 0.9rem;
  }
  .stat__value{
    font-size: 0.9rem;
  }
  .stat__attribute--main{
    margin-bottom: 0.5rem;
  }
  .stat__attribute--second{
    margin-bottom: 1rem;
  }
  .stat__value--large{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.stat__value--cost{
  &:after{
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 0.5rem;
    color: #999;
    content: '$USD';
  }
}

.stat__value--positive{
  color: $positive-color;
}

.stat__value--negative{
  color: $tiertiary-color;
}

.calc__selection--slider{
  overflow: auto;
  margin: 0 -1rem 1rem;
  padding: 0.3rem 1rem 1rem;
  border-radius: 5px;
}

.calc__selection--percents{
  display: inline;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.calc__selection--percent{
}

.calc__split{
  height: 1px;
  width: 100%;
  background-color: #ddd;
  margin: 0.5rem 0 1rem 0;
  overflow: auto;
}

.calculator__input{
  max-width: 100px;
  text-align: right;
  background-color: white;
  border-radius: 5px;
  transition: all 0.2s;
  &:after{
    padding-right: 2rem;
  }
  &:hover{
    background-color: #fbfbfb;
  }
}

.calculator__selection{
  background-color: #f2f2f2;
  margin: 0 -1rem;
  padding: 0.5rem 1rem 0;
  border-radius: 10px;
  .button{
    &__rightside{
      background-color: white;
      &:hover{
        background-color: #f9f9f9;
      }
    }
    &__leftside{
      background-color: white;
      &:hover{
        background-color: #f9f9f9;
      }
    }
    &--active{
      background-color: #ddd;
      &:hover{
        background-color: #dadada;
      } 
    }
  }
}

