.header {
  position: absolute;
  height: $page-header-y;
  width: 100%;
  z-index: 100;
  padding: 0.5em 0 0 0;
}

.header__title{
  float: left;
  margin-left: 1em;
  font-weight: 800;
  font-family: 'Hind';
}

.header__language{
  float: right;
  margin-right: 1em;
}

.button--header-info {
  float: right;
  margin-right: 1em;
  text-align: center;

  &::before {
    @extend %collecticon-circle-information;
    font-size: 1rem;
    margin: 0;
  }

  span {
    vertical-align: middle;
    line-height: 2.4rem;
    padding-top: 4px;
    margin-left: 0.25rem;
  }
}
