.Header{
	position: absolute;
	height: $page-header-y;
	width: 100%;
	z-index: 100;
	@include debug();
}

.header__title{
	float: left;
}

.header__language{
	float: right;
}

.header__information{
	float: right;
}
