#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup-anchor-bottom{
	top: -10px;
}

.subtitle__popover{
	float: initial;
	font-size: 1em;
}

.popover__stat{
	font-weight: 600;
	font-size: 1.1em;
}

.mapboxgl-popup-content{
	padding: 8px 12px 10px;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl{
	margin: 3rem 0 0 24rem;
	box-shadow: none;
	border: 1px solid #bbb;
	background-color: #eee;
	button{
		transition: all 0.2s;
		&:active{
			background-color: #ccc;
		}
	}
}
