/* ==========================================================================
   Modals
   ========================================================================== */

/**
 * This element can be of any width and height
 * http://css-tricks.com/centering-in-the-unknown/
 */

.modal {
  text-align: center;
  background: rgba(#000, 0.80);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9996;
  overflow-y: auto;

  // The ghost, nudged to maintain perfect centering
  // Only medium-up queries
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 1px;
    margin-right: -6px; // Adjusts for spacing
  }
}

/**
  * The element to be centered, can also be of any width and height
  */

.modal__inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: ($global-spacing * 2) 0;
  text-align: left;
  max-width: 48rem;
  min-width: 32rem;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 3px solid $secondary-color;

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Modal size modifiers
   ========================================================================== */

/* Small */

.modal--small .modal__inner {
  max-width: 32rem;
}

/* Medium
   Default
*/

.modal--medium .modal__inner {
  max-width: 48rem;
}

/* Large */

.modal--large .modal__inner {
  max-width: 64rem;
}

/* XLarge */

.modal--xlarge .modal__inner {
  max-width: 80rem;
}


/* Modal animation
   ========================================================================== */

.modal-enter {
  transform: translate3d(0, 0, 0);
  transition: opacity 0.32s ease 0s, visibility 0.32s linear 0s;
  opacity: 0;
  visibility: hidden;

  &.modal-enter-active {
    opacity: 1;
    visibility: visible;
  }
}

.modal-leave {
  transition: opacity 0.32s ease 0s, visibility 0.32s linear 0s;
  opacity: 1;
  visibility: visible;

  &.modal-leave-active {
    opacity: 0;
    visibility: hidden;
  }
}


/* Modal structure
   ========================================================================== */

.modal {
  &__header,
  &__footer {
    position: relative;

    &:after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      content: '';
      height: 1px;
      width: 4rem;
      background: $base-alpha-color;
    }
  }

  &__header {
    background-color: $primary-color;
    @include section_header;
    font-size: 1rem;
    border-bottom: 3px solid $secondary-color;
  }

  &__title {
    padding-left: 1rem;
    font-size: 1em;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: 'Hind';
    text-transform: uppercase;
    color: white;
  }

  &__body {
    padding: $global-spacing;
    margin-bottom: ($global-spacing * 2);
    > *:last-child {
      margin-bottom: 0;
    }
    @include media(medium-up) {
      margin-bottom: ($global-spacing * 3);
    }
  }

  &__footer {
    padding-top: $global-spacing * 2;
    border-bottom: 3px solid $secondary-color;

    .button {
      margin: 0 ($global-spacing / 4);
    }

    &:after {
      top: 0;
    }
  }
}


/* Modal buttons
   ========================================================================== */

.modal__button-dismiss {
  position: absolute;
  top: 0.4rem;
  right: 0.75em;
  z-index: 10;
  opacity: 0.8;
  background: none;
  border: none;
  color: white;

  span {
    @extend .visually-hidden;
  }

  &:hover {
    opacity: 1;
  }

  &:before {
    @extend %collecticon-xmark;
    vertical-align: middle;
  }
}

.modal--about {
  .modal__body {
    font-size: 0.9em;
    p{
      margin-bottom: 1.5rem;
    }
    h3{
      margin-bottom: 0.5rem;
    }
  }
}
