.opacity-panel {
  position: absolute;
  bottom: 2em;
  right: 1em;
  background-color: #fff;
  @include containter;
}

.opacity-panel__title {
  @include section_header;
}

.opacity-panel__slider {
  margin: 1.5em;
}
