.results {
  position: absolute;
  top: $page-header-y;
  right: 1em;
  z-index: 100;
  @include debug();
  @include containter();
}

.results__title {
  @include section_header;
}

.results__subtitle{
  font-size:0.8em;
  float: initial;
  clear: both;
}

.results__subtitle--secondary{
	margin-top: 1em;
}

.results__container{
  margin: 0.5em 1em 13.3em 1em;
}

.results__download{
  position: absolute;
  right: 1em;
  top: 10px;
  i{
    margin-right: 10px;
  }
}

.stats{
	clear: both;
  overflow: auto;
  margin-bottom:4px;
}

.stat__attribute{
  font-size: 0.85em;
  clear: both;
  float: left;
}

.stat__value{
  font-size: 0.85em;
  font-weight: 600;
  float: right;
}


.stat__value--chart {
	/*background-color: #eee;*/
	float: none;
	clear: left;
  margin-bottom:1.5em;
}

.chart-container {
	width: 100%;
	height: 150px;
}

.chart {
	.zebra {
		opacity: 0.5;
		&--odd {
			fill: steelblue;
		}
		&--even {
			fill: none;
		}
	}
}

.chart__axis-title{
	font-size: 0.9em;
	font-weight: 300;
}

.chart__axis-ticks{
	font-size: 0.8em;
	font-weight: 300;
  margin-bottom: 1em;
}

.calculator__container {
  background-color: #eee;
  clear: both;
  height: 174px;
  border-radius: 8px;
  bottom: 8px;
  left: 8px;
  width: 320px;
  padding: 8px;
  position: absolute;
}

.results__divider {
  width:100%;
  background-color: lighten($secondary-color, 15);
  height: 2px;
  left:0;
  position: absolute;
}

.results__divider--first {
  top:120px;
}

.results__divider--second {
  top: 350px;
}
