.results {
  position: absolute;
  top: $page-header-y;
  right: 1em;
  z-index: 100;
  line-height:1.6em;
}

.results__space{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  @include containter();
}

.results__title {
  @include section_header;
}

.results__subtitle{
  font-size:0.8em;
  float: initial;
  clear: both;
}

.results__subtitle--secondary{
  margin-top: 0.5em;
}

.results__container{
  padding: 0.5em 1em 0.4em 1em;
}

.stats{
  clear: both;
  overflow: hidden;
  margin-bottom:4px;
}

.stat__attribute{
  font-size: 0.85em;
  clear: both;
  float: left;
  &--button{
    line-height: 2.5rem;
  }
}

.stat__value{
  font-size: 0.85em;
  font-weight: 600;
  float: right;
}


.stat__value--chart {
  /*background-color: #eee;*/
  float: none;
  clear: left;
}

.chart-container {
  width: 100%;
  height: 150px;
}

.chart {
  .zebra {
    opacity: 0.5;
    &--odd {
      fill: #e9e9e9;
    }
    &--even {
      fill: none;
    }
  }
}

.chart__axis-title{
  font-size: 0.9em;
  font-weight: 300;
}

.results__divider--first {
	top:144px;
}

.results__divider--second {
	top: 350px;
}

.chart__axis-ticks{
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 1em;
}

.chart__bar{
  fill: $tiertiary-color;
}

.calculator__link-container {
  a {
    display: block;
    font-size: 0.85em;
    background-color: lighten(#aaa, 27);
    clear: both;
    border-radius: 3px;
    left: 8px;
    width: 340px;
    padding: 4px 4px 3px 10px;
    margin: 0 -10px;
    color: #aaa;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background-color: lighten(#aaa, 20);
      color: darken(#aaa, 15)
    }
  }
}

.results__divider {
  background-color: lighten($secondary-color, 15);
  height: 1px;
  left:0;
  margin: 0 -1em 0 -1em;
}

.results__calc-launcher{
/*  margin-top:0.5rem;
  line-height: 1rem;
  width: 100%;
  padding: 0.5rem 0 0.3rem;
  .results__calc-hover{
    transform: translate(0, 4px);
  }
  &:hover{
    .results__calc-hover{
      transform: translate(0, 6px);
      padding-bottom: 6px;    
    }
  }
*/
}

.results__container--textbox{
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.collecticon-download{
  margin: 3px 10px 0 0;
}

.button-full-disabled{
  pointer-events: none;
  color: #888;
  background-color: #ccc;
  border-color: #888;
}
