.selection {
	position: absolute;
	margin: $page-header-y 1em;
	z-index: 100;
	@include containter();
	background-color: rgba(0,0,0,0);
}

.selection__panel {
	padding: 0.25em 1em 1em 1em;
	height: 1.75em;
	clear: both;
	background-color: white;
	line-height: 2.75em;
	border-bottom: 2px solid $secondary-color;
	font-size: 0.9em;
}

.selection__panel--split {
	margin-bottom: 0.5em;
}

.selection__panel--attribute {
	font-size: 0.9em;
	font-weight: 500;
	color: #bbb;
	text-transform: uppercase;
	float: left;
}

.selection__panel--drop {
	float: right;
	font-weight: 700;
}
